<footer class="container" style="margin-top: 100px;">
    <p class="text-center">Copyright ©2017 BCRC
        <br>Design by
        <a href="https://kerzzi.github.io/" target=_new>Kerzzi</a>
    </p>
</footer>
<!-- 以上部分，不需要记忆 -->
